.grid_banner {
    background-color: $bg-dark;
    padding: 60px 0;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__grid {
        display: flex;
        gap: 50px;
        flex-flow: row wrap;
        justify-content: center;

        @include responsive('mobile-h') {
            flex-direction: column;
        }
    }

    &__title {
        color: $primary-color;
        line-height: 1;
        letter-spacing: 1px;
        text-align: center;

        @include responsive('tablet-h') {
            margin-bottom: 30px;
        }

        @include responsive('mobile-h') {
            font-size: 36px;
        }
    }

    &__item {
        aspect-ratio: 0.8;
        min-height: 200px;
        position: relative;
        transition: all .3s ease-in-out;

        @include responsive('mobile-v') {
            min-height: 100px;
        }

        .image-background {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 150px;
            height: auto;
            object-fit: cover;

            @include responsive('mobile-v') {
                max-width: 240px;
            }
        }

        &:hover {
            transform: translateY(-10px);
        }
    }
}