.stay_informed {
    position: relative;
    height: 530px;

    @include responsive ('tablet-h') {
        height: 500px;
        max-height: 100%;
    }

    &::before {
        content: '';
        @include absolute();
        background-image: url('images/background.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 100%;
        position: relative;
    }

    &__content {
        @include absolute();
        display: flex;
        align-items: center;
    }

    .container {
        width: 1200px;
        max-width: 100%;
    }

    &__text-cont {
        width: 400px;
        max-width: 100%;

        @include responsive('tablet-h') {
            width: 100%;
        }
    }

    &__title {
        color: $white;
        line-height: 1;
        margin-bottom: 26px;

        @include responsive('tablet-h') {
            margin-bottom: 15px;
        }
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        padding: 100px;
        z-index: 4;
        form {
            .gform_footer {
                padding: 16px 0 0 !important;
                .gform_button {
                    background-color: $third-color;
                    border-radius: 25px;
                    margin-bottom: 0 !important;
                    font-size: 16px !important;
    
                    &:hover {
                        background-color: $primary-color !important;
                    }
                }
            }
        }
    }

}