.stay_informed {
    position: relative;
    height: 590px;
    background-image: url('images/Tqv2.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    width: 100%;

    @include responsive ('tablet-h') {
        height: 500px;
        max-height: 100%;
    }

    &__content {
        @include absolute();
        display: flex;
        align-items: center;
    }

    .container {
        width: 1200px;
        max-width: 100%;
    }

    &__text-cont {
       text-align: center;
    }

    &__title {
        color: $white;
        line-height: 1;
        margin-bottom: 26px;
        font-size: 40px;

        @include responsive('tablet-h') {
            margin-bottom: 15px;
        }
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        z-index: 4;
        background-image: url('images/background-image.svg');
        background-repeat: no-repeat;
        background-size: cover;
        form {
            .gform_footer {
                padding: 16px 0 0 !important;
                .gform_button {
                    border-radius: 25px;
                    margin-bottom: 0 !important;
                    font-size: 16px !important;
    
                    &:hover {
                        background-color: $black !important;
                    }
                }
            }
        }
    }

}