.text_block {
    padding: 20px 214px;

    @include responsive('tablet-h') {
        padding: 0;
    }

    &__cont {
        @include text-block();
        width: 100%;
    }
}

.page-who-we-are, .page-contact-us   {
    .text_block {
        padding: 100px 250px;

        @include responsive('desktop') {
            padding: 50px 100px;
        }

        @include responsive('tablet-h') {
            padding: 50px;
        }

        @include responsive('mobile-h') {
            padding: 20px 0;
        }
    }
}