.text_block {
    padding: 80px 214px;
    background-image: url('images/background-image.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;

    @include responsive('tablet-h') {
        padding: 0;
    }

    &__cont {
        @include text-block();
        width: 100%;
    }
}