@mixin row() {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin image-background() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-background {@include image-background();}

@mixin absolute() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin default-font() {
  font-family: $default-font;
}

@mixin h1 {
  font-size: map-get($font-sizes, h1);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h1);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h1);
  }
}

@mixin h2 {
  font-size: map-get($font-sizes, h2);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h2);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h2);
  }
}
@mixin h3 {
  font-size: map-get($font-sizes, h3);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h3);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h3);
  }
}
@mixin h4 {
  font-size: map-get($font-sizes, h4);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h4);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h4);
  }
}

@mixin h5 {
  font-size: map-get($font-sizes, h5);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h5);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h5);
  }
}

@mixin h6 {
  font-size: map-get($font-sizes, h6);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h6);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h6);
  }
}

@mixin h7 {
  font-size: map-get($font-sizes, h7);
  font-family: $default-font;

  @include responsive('tablet-h'){
    font-size: map-get($font-sizes-tablet, h7);
  }
  @include responsive('mobile-v'){
    font-size: map-get($font-sizes-mobile, h7);
  }
}



// Media Query Map
@mixin responsive($width) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @media only screen and (max-width: $width) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$width}`. Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Media Query Map
@mixin responsiveMin($width) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @media only screen and (min-width: $width) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$width}`. Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}