.site,
.woocommerce,
.woocommerce .site {
	.gform_wrapper {
		margin: 0 !important;
		padding: 0 !important;
	
		.top_label .gfield_label, 
		legend.gfield_label {
		  display: none !important;
		}
	
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
		textarea {
			@include inputs();
		}

		.gfmc-column {
			padding-right: 48px;

			&:nth-last-child(1) {
				padding-right: 0;
			}

			h4 {
				margin-bottom: 4px;
				@include h5();
			}

			.form__text {
				@include h7();
				margin-top: 15px;

				a {
					color: $primary-color;
					text-decoration: underline;

					&:hover {
						color: $secondary-color;
					}
				}
			}

			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
			textarea {
				width: 100%;
			}
		}

		.ginput_complex.ginput_container_address {
			span,
			span.ginput_right+span.ginput_left {
				width: 100%;
				padding-right: 0 !important;
				margin-right: 0 !important;
				margin-bottom: 10px;
				display: block;
			}

			label {
				display: none !important;
			}
		}

		.gform_footer input.button, 
		.gform_footer input[type=submit], 
		.gform_page_footer input.button, 
		.gform_page_footer input[type=submit] {
			@include h7();
		}

		li.gfield.gfield_error,
		li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
			border: none;
			background: none;
			margin: 0;
			padding: 0;
			@include h7();
		}

		.validation_message {
			padding-top: 8px !important;
		}

		div.validation_error {
			padding: 8px 0;
			@include h7();
			line-height: 1.2;
			margin-bottom: 10px;
		}

		.gfield_checkbox li input,
		.gfield_checkbox li input[type=checkbox], 
		.gfield_radio li input[type=radio] {
			display: none;
		}

		ul.gfield_checkbox li label,
		ul.gfield_radio li label {
			@include h7();
			color: $grey;;
			padding-left: 30px;
			line-height: 20px;
			position: relative;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid $primary-color;
				content: '';
			}
		}

		.gchoice_select_all, 
		ul.gfield_checkbox li input[type=checkbox]:checked+label, 
		ul.gfield_radio li input[type=radio]:checked+label {
			&:after {
				position: absolute;
				top: 2px;
				left: 2px;
				width: 16px;
				height: 16px;
				background: $secondary-color;
				content: '';
			}
		}
	}
}

.formBox {
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	textarea {
		@include inputs();
		width: 100%;
		margin-bottom: 8px;
		background: $white !important;
	}

	p {
		@include h7();
		color: $grey;;
		line-height: 1.2;

		a {
			color: $primary-color;
			text-decoration: underline;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.form_block {
	.formBox {
		margin: 0 auto;
		width: 337px;
		max-width: 100%;

		.gform_footer {
			text-align: center;
		}		
	}
}

//form home


.gform_wrapper.gravity-theme {
	
	.gform_validation_errors,
        .gravity-theme,
        .gfield_description, 
        .validation_message {
            border: none;
            border-radius: 0;
            background-color: $white;
            font-size: 15px;
            background: transparent;
            box-shadow: none;
            padding: 0;
						color: $white;
    
            &>h2 {
            font-size: 15px;
						color: $white;
    
                .gform-icon {
                    display: none; 
                }
            }
        }
}

.stay_informed__form {
	.gform_confirmation_message {
		font-size: 26px;
		color: $white;
		font-weight: 400;
	}
}


// hide antispam honeypot
.gform_validation_container, 
.gform_wrapper .gform_validation_container, 
body .gform_wrapper li.gform_validation_container, 
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, 
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -9000px;
}