.post-item {

  &__text-cont {
      border-bottom: 1px solid $grey-light-third;
      padding: 40px 0; 

  }

  &__date {
    font-size: 18px;
    letter-spacing: 3.38px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 36px;
    text-transform: capitalize;
    width: 1077px;
    max-width: 100%;

    @include responsive ('tablet-h') {
      width: 100%;
    }

    a {
      color: $primary-color;
      font-weight: 700; 
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: $grey-light;
    font-family: $secondary-font;
    width: 687px;
    max-width: 100%;

    @include responsive ('tablet-h') {
      width: 100%;
    }
  }

  &:nth-last-child(1) {
    .post-item__text-cont {
      border-bottom: none;
    }
    
  }
} 

.post_internal {
  padding-bottom: 160px;

  &__button {
    padding-top: 67px;
  }
  .viewmore {
    display: none;
  }
}