.hero-home {
    min-height: auto;
    display: block;
    position: relative;
    background-color: $bg-dark;

    video {
        width: 100%;
    }

    &::before {
        @include overlay();
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 4;
        width: 1024px;
        max-width: 100%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        text-align: center;

        
        
        .block-hidden {
            background-color: black;
            padding: 20px 10px;
            max-width: 100%;
            opacity: 0.8;
            border-radius: 10px;
            transform: translateY(-50%) scale(0);
            transition: all 1s ease;
            
            h2 {
                @include h4();
                opacity: 1;
                padding-bottom: 20px;
            }

            & > div {
                font-size: 18px;
            }
        }

        &:hover .block-hidden {
            transform: translateY(10%) scale(1);
           
        }
    }
    

    &__big_text {
       background-image: url('images/code.svg');
       background-repeat: no-repeat;
       background-size: 100%;
       width: 180px;
       height: 180px;
       text-align: center;
       margin: 0 auto;
       position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 4px solid $white;
            width: 100%;
            display: flex;
            margin: 20px 0 10px;
        }
    }

    &__bottom_text {
        @include h2();
        color: $white;
        z-index: 10;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
}