.hero-home {
    min-height: 57vw;
    display: block;
    position: relative;
    background-color: $bg-dark;

    video {
        width: 100%;
    }

    &::before {
        @include overlay();
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(6%, -50%);
        z-index: 4;
        width: 100%;
        max-width: 100%;
    }

    &__big_text {
        @include h1();
        font-size: 100px;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        z-index: 10;

        &::after {
            content: '';
            border-top: 4px solid $white;
            width: 150px;
            display: flex;
            margin: 10px 0 20px 0;
        }
    }

    &__bottom_text {
        @include h4();
        color: $white;
        z-index: 10;
    }
}